/* .see-all-btn {
    border: none;
    width: 300px;
    padding: 15px;
    margin: 20px 50px;
    font-size: 18px;
    border-radius: 25px;
    text-transform: uppercase;
    color: #fff;
    background-color: #e55039aa;
}

.see-all-btn:hover {
    background-color: #e55039;
} */